*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
    
    ;
}
body{
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contenedor{
    width: 50%;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    margin-top: 20px;
}
.contenedor .titulo{
    margin: 0px 20px 20px 20px;
}
.contenedor .texto{
    text-align: justify;
}